@charset "UTF-8";
// 色の設定-------------------------------------
$base-color: black;
$main-color: #f8f9fa;
$accent-color: rgb(255, 232, 24);
// フォントの設定-------------------------------
// ブレイクポイントの設定-----------------------
$breakpoints: (
    sp: "only screen and (max-width: 575px)",
    tab: "only screen and (max-width: 768px)",
    pc: "only screen and (max-width: 991px)",
);